<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bookstore.mapper.CustomerMapper" >
  <resultMap id="CustomerResultMap" type="com.example.bookstore.entity.Customer" >
    <id column="CustomerId" property="customerid" jdbcType="INTEGER" />
    <result column="CustomerName" property="customername" jdbcType="VARCHAR" />
    <result column="CustomerPwd" property="customerpwd" jdbcType="VARCHAR" />
    <result column="Customertruename" property="customertruename" jdbcType="VARCHAR" />
    <result column="CustomerSex" property="customersex" jdbcType="VARCHAR" />
    <result column="CustomerTel" property="customertel" jdbcType="VARCHAR" />
    <result column="CustomerEmail" property="customeremail" jdbcType="VARCHAR" />
    <result column="CustomerAddr" property="customeraddr" jdbcType="VARCHAR" />
    <result column="CustomerRegTime" property="customerregtime" jdbcType="TIMESTAMP" />
    <result column="CustomerQues" property="customerques" jdbcType="VARCHAR" />
    <result column="CustomerAnswer" property="customeranswer" jdbcType="VARCHAR" />
    <result column="CustomerLogTime" property="customerlogtime" jdbcType="INTEGER" />
    <result column="CustomerLastLogT" property="customerlastlogt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Customer_Column_List" >
    CustomerId, CustomerName, CustomerPwd, Customertruename, CustomerSex, CustomerTel, 
    CustomerEmail, CustomerAddr, CustomerRegTime, CustomerQues, CustomerAnswer, CustomerLogTime, 
    CustomerLastLogT
  </sql>
  <select id="selectExistCusName" parameterType="String" resultType="int">
    SELECT COUNT(*)
    FROM tb_customerinfo tb_ci
    WHERE tb_ci.CustomerName = #{cusname,jdbcType=VARCHAR}
  </select>
  <insert id="insertCus" parameterType="com.example.bookstore.entity.Customer" >
   INSERT INTO tb_customerinfo
    (tb_customerinfo.CustomerName,tb_customerinfo.CustomerPwd,
    tb_customerinfo.CustomerRegTime,tb_customerinfo.CustomerLastLogT)
    VALUES(#{customername},#{customerpwd},(SELECT CURRENT_TIMESTAMP()),(SELECT CURRENT_TIMESTAMP()))
  </insert>
  
  <select id="checkCnameAndCpwd" parameterType="com.example.bookstore.entity.Customer" resultType="int">
    select count(*)
      from tb_customerinfo cus
        where cus.CustomerName = #{customername} and cus.CustomerPwd=#{customerpwd}
  </select>

</mapper>