<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bookstore.mapper.ShopBookMapper" >
  <resultMap id="ShopBookResultMap" type="com.example.bookstore.entity.ShopBook" >
    <result column="CustomerId" property="customerid" jdbcType="INTEGER" />
    <result column="BookId" property="bookid" jdbcType="INTEGER" />
    <result column="ordermount" property="ordermount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="FLOAT" />
    <result column="ispaid" property="ispaid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="ShopBook_Column_List" >
    CustomerId, BookId, ordermount, price, ispaid
  </sql>

  <insert id="addToCart" parameterType="com.example.bookstore.entity.ShopBook" >
    INSERT INTO tb_shopbook
    VALUES(#{customerid},#{bookid},#{ordermount},#{price},#{ispaid})
  </insert>

  <select id="ifExistItem" parameterType="com.example.bookstore.entity.ShopBook" resultType="int">
    SELECT count(*)
        from tb_shopbook s
          where s.BookId=#{bookid} and s.CustomerId=#{customerid}
  </select>

  <update id="updateMount" parameterType="com.example.bookstore.entity.ShopBook" >
    UPDATE tb_shopbook s
      SET s.ordermount = s.ordermount + #{ordermount}
      WHERE s.CustomerId = #{customerid} and s.BookId = #{bookid}
  </update>

  <select id="selectShopBooksByCusid" parameterType="int" resultMap="ShopBookResultMap">
    select *
      from tb_shopbook s
      where s.CustomerId = #{cusid} ;
  </select>

  <select id="selectBookNameById" parameterType="int" resultType="String">
    SELECT b.BookName
      from tb_bookinfo b
        where b.BookId = #{bookid}
  </select>

  <select id="selectBookPicById" parameterType="int" resultType="String">
    SELECT b.BookPic
    from tb_bookinfo b
    where b.BookId = #{bookid}
  </select>

  <delete id="deleteShopbook" parameterType="com.example.bookstore.entity.ShopBook">
    DELETE from tb_shopbook
        where CustomerId = #{customerid} and BookId = #{bookid} ;
  </delete>


</mapper>