<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>拴拴网 []~(￣▽￣)~*- 购物车</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/main.css"/>
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script async type="text/javascript" src="/bootstrap-3.3.7-dist/js/background.js"></script>

    <style>
        body, html {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            margin: 0;
            padding: 0;
        }
        #background {
            position: fixed;
            top: 0;
            left: 0;

            z-index: -100;
        }
    </style>
</head>
<body>
<!--导航栏-->
<canvas id="background"></canvas>

<div class="navbar navbar-default" style="height: 10px">
    <div class="container" >
        <div class="navbar-header">
            <a href="index" class="navbar-brand"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index"><span class="glyphicon glyphicon-home"></span>主页-书城</a></li>
            <li><a href="rankingList"><span class="glyphicon glyphicon-align-justify"></span>排行榜</a></li>
            <li><a href="community"><span class="glyphicon glyphicon-comment"></span>社区</a></li>
            <li class="active"><a href="cart"> <span class="glyphicon glyphicon-shopping-cart"></span>购物车</a></li>
            <li><a href="orders"><span class="glyphicon glyphicon-import"></span>我的订单</a></li>
            <li><a href="userCenter"><span class="glyphicon glyphicon-magnet"></span>个人中心</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" th:if="${currentCus==null}">
            <li><a href="login"><span class="glyphicon glyphicon-user"></span>登录</a></li>
            <li><a href="signup"><span class="glyphicon glyphicon-pushpin"></span>注册</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" th:if="${currentCus!=null}">
            <li><a href="userCenter" th:text="${currentCus.customername}"></a></li>
            <li><a href="loginout" > <span class="glyphicon glyphicon-off"></span>注销</a></li>
        </ul>
    </div>
</div>


<!--固定宽度，支持响应式布局的容器-->
<div class="container">
    <!--标题-->
    <div>
        <h1><font color="#f5f5f5" th:text="${currentCus.customername}"></font>
        <label>&NonBreakingSpace;</label>
        <font color="#9acd32"><label>购物车</label></font>
        </h1>
    </div>
    <!--网格布局,12列分配-->
    <div class="row" style="margin-top: 30px">
        <div class="col-sm-12" style="background-color: snow">
            <table class="table table-striped" style="margin-top: 10px">
                <div style="margin-top: 20px">
                    <button class="btn btn-primary" id="payButton">结算</button>
                    <button class="btn btn-primary" id="deleteSelct">删除选定项</button>
                    <button class="btn btn-primary" id="savachng">保存修改</button>
                </div>
                <caption><font color="black" size="3">购物车中有以下商品</font></caption>
                <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll"/>全选</th>
                    <th>图样</th>
                    <th>书名</th>
                    <th>单价</th>
                    <th>数量</th>
                </tr>
                </thead>

                <tbody>

                <div id="trDiv" th:each="bookvo:${lists}">
                    <tr>
                        <input type="hidden" th:value="${bookvo.bookid}"/>
                        <td><input type="checkbox" name="test"/></td>
                        <td><img th:src="${bookvo.bookpic}"
                                 style="margin-top: 2px ; width: 100px"></td>
                        <td th:text="${bookvo.bookname}"></td>
                        <td th:text="${bookvo.bookprprice}"></td>
                        <td><input class="min" name="" type="button" value="-"/>
                            <input class="text_box" id="num" type="text" th:value="${bookvo.mount}"
                                   style="width:25px;"/>
                            <input class="add" name="" type="button" value="+"/>
                        </td>

                    </tr>
                </div>

                </tbody>

            </table>
        </div>
    </div>
</div>


<div class="footer">
    <font color="#f5f5f5">
        © 2018 拴拴网 中国互联网举报中心京ICP证1401号京ICP备125439号-3京公网安备
    </font>
</div>


<script th:inline="javascript">
    //数量选择框事件
    $(function () {

        $(".add").click(function () {
            // $(this).prev() 就是当前元素的前一个元素，即 text_box
            $(this).prev().val(parseInt($(this).prev().val()) + 1);
            setTotal($(this).prev().val());
        });

        $(".min").click(function () {
            // $(this).next() 就是当前元素的下一个元素，即 text_box
            if($(this).next().val() == 0 ){
                $(this).next().val(0);
            }else{
                $(this).next().val(parseInt($(this).next().val()) - 1);
            }
            setTotal($(this).next().val());
        });

    });

    //全选反选按钮事件
    $(function () {
        //实现全选反选
        $("#checkAll").on('click', function () {
            $("tbody input:checkbox").prop("checked", $(this).prop('checked'));
        })
        $("tbody input:checkbox").on('click', function () {
            //当选中的长度等于checkbox的长度的时候,就让控制全选反选的checkbox设置为选中,否则就为未选中
            if ($("tbody input:checkbox").length === $("tbody input:checked").length) {
                $("#checkAll").prop("checked", true);
            } else {
                $("#checkAll").prop("checked", false);
            }
        })
    });

    $(function(){
       $("#deleteSelct").click(function () {
           var userid = /*[[${currentCus.customerid}]]*/ 'null';
         //  var v2 = $("input[type='checkbox'][name='test']:checked").closest('tr').find('td:eq(2)').map(function(){return this.innerHTML}).get().join();
           var v2 = $("input[type='checkbox'][name='test']:checked").closest('tr').find('input:eq(0)').val() ;
           console.log(typeof v2) ; // string
           //   var v = $("input[type='checkbox'][name='test']:checked").closest('tr').find('td:eq(2)').map(function(){return this.innerHTML}).get();
           //    console.log(typeof v ); // object
        //   var v3 = "StandarkString";
        //   console.log(typeof v3) ;
         //  for(key in v ){
        //       console.log(key+":"+v[key]);
         //  }

           var str = "";
           str = JSON.stringify(v2);
           console.log(str);

           $.ajax({
               url: "deletecart",
               data: {"linked": str ,"cusid":userid},
               type: "POST",
               success: function (data) {
                  //
                   data;
                   alert("reload");
               },
               error:function(error){alert(error);}
           });

       }) ;
    });
    //---------------------------------------------------------------------------
</script>

</body>
</html>